<br>
<h2>Blogs</h2>
<br>
{{#each sortedBlogs as |blog|}}
<a href='/blog/{{blog.id}}'>
<div class="card" data-id=`{{blog.id}}` style="width: 40rem;">
  <div class="card-body" data-id=`{{blog.id}}`>
    <h5 class="card-title">{{blog.title}}</h5>
    <h6>Date posted: {{blog.date}}</h6>
    <p class="card-text">{{blog.content}}</p>
  </div>
</div>
</a>
{{/each}}