<h3 id="currBlogTitle">Blog Title:{{oneBlog.title}}</h3>
<br>
<div class="card">
  <div class="card-body">
    <h6 id='blogId' data-number=`{{oneBlog.id}}`>Date: {{oneBlog.date}}</h6>
    <div class="mb-3">
  <label for="formTextArea" class="form-label">Blog Post:</label>
  <textarea class="form-control" id="formTextArea" rows="3" readonly>{{oneBlog.content}}</textarea>
</div>
    
    </textarea>
  </div>
  </div>
{{#each results as |comment|}}
<div class="card">
  <div class="card-body">
    <h6 >author: {{comment.creator}}</h6>
    <h6 >date: {{comment.date}}</h6>
    <div class="mb-3">
  <label for="formTextArea" class="form-label">comment:</label>
  <textarea class="form-control" id="formTextArea" rows="3" readonly>{{comment.content}}</textarea>
</div>
</div>
</div>
{{/each}}
<div class="card">
<div class="card-body">
<h6 id="leaveComment"> leave a comment!</h6>
<form id="commentForm">
<div class='form-group'>
  <label for='commentInput'></label>
  <textarea class='form-control' id='commentInput' rows='3'></textarea>
</div>
<div class="input-group mb-3">
  <span class="input-group-text">Username:</span>
  <div class="form-floating">
    <input type="text" class="form-control" id="userNameInput" placeholder="Username">
  </div>
</div>
<button type="button" id="commentSubmit" class="btn btn-primary">submit</button>
</form>
</div>
</div>